@use "variables" as c;
@use "flex" as *;

.section__container {
  height: 100vh;
  
  @include flex($align: center);
  background-color: c.$background-color-primary;
}

.logoText__container {
  margin-bottom: 5em;
}

.logoText__title {
  font-family: "Rajdhani";
  font-size: 5rem; 
  font-weight: 800;
  color: #050505;
  line-height: 110%;
  letter-spacing: 0.1em;

  margin-bottom: .15em;
  
}

.logoText__subtitle {
  font-family: Rajdhani;
  font-size: 2.25rem;
  font-weight: 800;
  color: #000;
  letter-spacing: 0.2em;
}

.arrowIndicator__background {
  width: 3em;
  height: 3em;
  padding: .5em;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #050505;
  box-shadow: -1px 1px 1px 1px white;
}

@media (max-width: 600px) {
  .title {
    font-size: 3.75rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}