@use 'sass:map';
@use 'abstracts' as __;

.layout__container {
  background-color: __.color("background", "primary");
  height: 100vh;
  display: flex;
  align-items: center;   
}

.__title {
  font-size: __.font-size("scale-4"); 
  font-weight: 700;
  margin-bottom: .15em;
}

.__subtitle {
  font-size: __.font-size("scale-3");
  font-weight: 700;
}

