@use "sass:map";
@use 'vendors/modularscale' as *;

$modularscale: (
  base: 1.5em,
  ratio: 1.333,
);

$ms-range:
  1.2 20em,
  1.333 30em,
  1.618 40em
;

$sizes: (
  'xSmall': ms(-2),
  'small': ms(-1),
  'normal': ms(0),
  'large': ms(1),
  'xLarge': ms(2),
);

$base-font-stack: (
  Rajdhani: (
    regular: (
      family: Rajdhani,
      weight: 400,
    ),
    bold: (
      family: Rajdhani,
      weight: 800,
    )
  )
)