.background {
  background-color: #A72C2C;
}

.aboutText {
  color : white;
  font-family : "Rajdhani";
  font-size : 2em;
  font-weight : 600;
  letter-spacing : 0.1em;
  line-height : 160%;
}

.aboutText::after {
  content: "";
  display: block;
  margin-bottom: 2em;
}