@use 'abstracts' as __;

.layout__container {
  background-color: __.color("background", "primary");
}

.aboutText {
  color : __.color("text", "light");
  font-size: __.font-size("scale-2");
  line-height: 1.5em;
}

.aboutText + * {
  margin-top: 2rem;
}