@use "sass:map";

$c-red-1: #A72C2C;

$c-black-1: #050505;

$c-yellow-1: #FEE400;

$c-white-1: #FFFFFF;

$_colors: (
  'background': (
    'primary': $c-red-1,
    'secondary': $c-black-1,
    'accent': $c-yellow-1
  ),
  'text': (
    'primary': $c-black-1,
    'secondary': $c-white-1
  )
);

@function get(
  $category,
  $variant: 'primary'
) {
  $color: null;
  $color-category: map.get($_colors, $category);
  
  @if $color-category {
    $color: map.get($color-category, $variant)
  }
  @return $color;
}