.container {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}

.innerContainer {
  width: 100%;
}

.bodyText {
  font-family: "Rajdhani";
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.button {
  padding: 0.75rem 1.25rem;
  border: 2px solid #FEE400;
  color: #FEE400;
  font-family: "Rajdhani";
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: "#FEE400";
}