.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.section__container {
  width: 48%;
  margin-bottom: 2em;
}

.logo {
  width: 100%;
  max-width: 600px;
}

.body {
  font-family: "Rajdhani";
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.button {
  padding: 0.75rem 1.25rem;
  border: 2px solid #FEE400;
  color: #FEE400;
  font-family: "Rajdhani";
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: "#FEE400";
}

@media (max-width: 900px) {
  .container {
    display: block;
  }
  .section__container {
    width: 100%;
  }
}