.sectionHeader {
  color: white;
  font-family: "Rajdhani";
  font-weight: 600;
  font-size : 5rem;
  text-transform: uppercase;
}

.sectionHeader::after {
  content: "";
  display: block;
  height: .2em;
  border-bottom : 5px solid white;
  margin-bottom : 2rem;
}

.sectionHeader.alt {
  color: black;
}

.sectionHeader.alt::after {
  border-bottom-color: black;
}